.mb-small {
  margin-bottom: 1.6rem;
}

.checkbox_input,
.checkbox-rect__input {
  display: none;
}

.checkbox_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox_input:checked ~ .checkbox_label .checkbox_fake-one {
  background-color: var(--clr-blue);
  background-image: url(../imgs/Done_round.svg);
  border-color: var(--clr-blue);
}

.checkbox_fake-one {
  /* background-color: var(--clr-blue); */
  /* background-image: url(imgs/Done_round.svg); */
  background-position: center;
  box-sizing: content-box;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2px;
  border: 2px solid var(--clr-gray);
  margin-right: 1rem;
}

.checkbox__text-value {
  font-size: 1.3rem;
}

/* rectangle checkbox */

.checkbox-rect {
  display: inline-block;
}

.checkbox-rect:not(:last-child) {
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
}

.checkbox-rect__input:checked ~ .checkbox-rect__label .checkbox-rect__fake-one {
  background-color: var(--clr-gray);
  background-color: #6c727f80;
  color: var(--clr-white);
}

.checkbox-rect__fake-one {
  user-select: none;
  /* display: inline-block; */
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  /* background-color: var(--clr-gray); */
  color: var(--clr-gray);

  font-weight: 600;
  font-size: 1.3rem;
  box-shadow: 0px 0px 0.2rem 0.1rem rgb(255, 255, 255, 0.05);
  cursor: pointer;
}

.checkbox-rect__fake-one:hover {
  background-color: #6c727f30;
}

/* select box */
:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  /* background-color: var(--darkgray); */
  /* background: none; */
  /* background-color: var(--); */
  background-color: var(--clr-black-1);

  /* overflow: hidden; */
  padding: 1rem;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  /* background-color: var(--darkgray); */
  position: relative;
  display: flex;
  width: 90%;
  height: 4em;
  border-radius: 1rem;
  overflow: hidden;

  border: 2px solid var(--darkgray);

  transition: all 0.1s;
}
/* Arrow */
.select::after {
  content: "";
  /* content: "\25BC"; */
  background-image: url(../imgs/Expand_down.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 4rem;
  height: 100%;
  top: 0;
  right: 0;
  background-position: 50%;
  background-size: 50%;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover {
  /* background-color: #f39c12; */
  background-color: var(--gray);
}
